<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poll App</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
      body {
        font-family: "Hind-Siliguri", sans-serif;
      }
      #startUpMessage {
        color: #417690;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <h2>Welcome to the Poll App</h2>
    <p id="startUpMessage">
      The app starts in the /polls route. Click the button below & headover to
      /polls route
    </p>

    <a href="/polls/"><button>Polls</button></a>
  </body>
</html>
